h1 {
  background-color: aquamarine;
  color: black;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Lodrina Shadow', cursive;
  padding: 1%;
  border: 5px solid red;
  width: 100%
}

body {
background-color: peachpuff;
color: black;
font-family: 'Prata', serif;
}

th, td {
  padding: 10px;
  margin: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #D6EEEE
}

img{
  border-radius: 50%;
  background-image: none;
  background-color: transparent;
}